# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Environments
.env
.venv
env/
venv/

# Testing
.pytest_cache/
.coverage
htmlcov/

# AWS SAM
.aws-sam/

# IDE
.vscode/
.idea/
